    <%- include("partials/header.ejs"); %>

    <body class="bg" style="background-color: rgb(238, 238, 238); margin-top: 350px;">

        <div class="container">
            <div class="rounded-3" style="background-color: rgb(255, 255, 255)">
                <p class="lead mb-3">Welcome <%= name %></p>
                <a href="/auth/logout" class="btn btn-secondary">Logout</a>
                <div class="row mt-5">
                    <div class="col-md-6 m-auto">
                        <div class="card card-body text-center">
                            <h1 class="mb-3">
                                
                                <% if (donne == null) { %>
                                    <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/19/02/61/picxofI9F.jpg" alt="icon" width="80%" />
                                    <% } %>
                            <h2>
                                <% if (donne != null) { %>
                                    
                                    <img src=<%= donne["Images Solo"]%>>
                                    <%= donne["name"]%>
                                <% } %>
                            </h2>
                            <h2>
                                <div>Recommandation</div>
                            </h2>
                            <div class="buttons">

                            <div class="action_btn">
                                <div id="result-container"></div>
                                <p id="saved"></p>

                                <form action="/dashboard/like" method="POST">idRecette
                                    <input type=”button” value= 124 name= "idRecette"></a>
                                    <input type=”button” value= <%=id %>  name= "id2"></a> 
                                    <input type=”button” value= <%=name %>  name= "name"></a> 
                                    <button type="submit" class="btn btn-primary btn-block">Like</button>
                                </form>
                                <form action="/dashboard/dislike" method="POST">idRecette
                                    <input type=”button” value= 124 name= "idRecette"></a> 
                                    <input type=”button” value= <%=id %>  name= "id2"></a> 
                                    <input type=”button” value= <%=name %>  name= "name"></a> 
                                    <button type="submit" class="btn btn-primary btn-block">Dislike</button>
                                </form>
                            </div>
                                
                                
                            </div>  
                        </div>
                    </div>
                </div>

<%- include("partials/footer.ejs"); %>

