      <%- include ("./messages") %>
      <form action="/auth/register" method="POST" class="register__container">
        <!-- Logo-->
        <img class="register__container-logo" src="/assets/ninja2.png" alt="Logo">

        <!-- Subtitle-->
        <h1 class="register__container-title"> Register new user</h1>
        
        <!-- Input name-->
        <div class="form-group">
          <p class="register__container-input-title">Name </p>
          <input type="name" id="name" name="name" class="register__container-input" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>

        <!-- Input email-->
        <div class="form-group">
          <p class="register__container-input-title">Email</p>          
          <input type="email" id="email" name="email" class="register__container-input" placeholder="Enter Email"
           value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>

        <!-- Input password-->
        <div class="form-group">
           <p class="register__container-input-title">Password</p>
            <input type="password" id="password" name="password" class="register__container-input" placeholder="Enter Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>

        <!-- Input confirm password-->
        <div class="form-group">
          <p class="register__container-input-title">Confirm password</p>    
            <input type="password" id="password2" name="password2" class="register__container-input" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>

        <!-- Register CTA -->
        <a class="register__container-cta register__container-cta--register" href="#">Register</a>


        <!-- Bottom links-->
        <span class="register__container-bottom-link">Already have an account ?<a href="/auth/login">Login</a></span>
    </form>

